.header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $beige;
    z-index: 100;

    @media(min-width: $bp-tablet) {
        padding-top: 58px;
        padding-bottom: 48px;
    }
}

.header__container {
    @include flex(row, space-between);
}